@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

$font: 'Noto Sans', sans-serif;

$black: #030303;
$success: #2c974b;
$danger: #d30e15;
$primary-color: rgb(17, 51, 81);
$secondary-color: rgb(112, 250, 253);

// for demo
$virtusa-primary: rgb(17, 51, 81);
$virtusa-secondary: rgb(112, 250, 253);